<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show comment</title>
    <link rel="stylesheet" href="/css/linkState.css">
</head>

<body>
    <h1>Comment ID: <span style="font-weight: 500;"><%= comment.id %></span></h1>
    <h2><%= comment.comment%> <span style="font-weight: 300"> - by <%= comment.username %></span></h2>
    <button><a style="text-decoration: none;font-size:1.3em" href="/comments">Return</a></button>
    <button><a style="text-decoration: none;font-size:1.3em" href="/comments/<%= comment.id %>/edit">Edit</a></button>
    <form method="POST" action="/comments/<%= comment.id %>?_method=DELETE">
        <button style="position: relative;bottom:27px;left:122px;font-size:1.10em">Delete</button>
    </form>
</body>

</html>